# User Testing Report

User testing was conducted by Jenny Chew on October 24th between the times of 3PM and 6PM with the following participants:

- Lindsay
- Nadia 
- Michelle 

## Tasks

1. locate the search bar on each size screen
2. You want to know what flowers hummingbirds like, find the page with this information
3. You want to learn about the Black-chinned Hummingbird

---

## Individual Results & Observations

### Lindsay

- She clicked on the correct links as expected
- Found it straight forward
- said I could split some of my paragraphs up to make it easier to find the information you're looking for


### Nadia


- she clicked on species thinking that each hummingbird would have a list of what they like uner them
- no other troubles


### Michelle

- More indication about the flowers they like closer to the top. instead of scrolling to bottom to find information
- She clicked every link with no problems
- diagrams for the anatomy section of the website 
- would like to be able to click the map to see the different places where hummingbirds are in the world, high population areas/low population areas (and different species if possible)

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- looking for what flowers hummingbirds like under species
- I could add specific flowers to that category 

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.