@-moz-viewport { wiidth: device-width; scale: 1; }
@-ms-viewport { wiidth: device-width; scale: 1; }
@-o-viewport { wiidth: device-width; scale: 1; }
@-webkit-viewport { wiidth: device-width; scale: 1; }
@viewport { wiidth: device-width; scale: 1; }

html {
	margin: 2;
	padding: 0;
	font: normal 100%/1.5 sans-serif;
}

li {
	display:inline-block;
}

header {
		font-size:1em;
}

h2 {
	margin-top:-20px;
	color:#fff;
}

.flex-img {
	display: block;
	width: 100%;
}
.flex-img-logo {
	float:right;
}

.top-img {
	margin-bottom:10px;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #CCC;
	background-position: 0 -40px;
}


nav {
	display: block;
	padding: 0;
	margin: 0;
}

.nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0.8rem 0;
	list-style-type: none;
	font-size: .825rem;
}


.nav li {
		float: left;
		width: 20%;
}
	
	
.nav a,
.nav a:link,
.nav a:visited {
	display:inline-block;
	padding: 0.5rem 10px;
	border: 0;
	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	font-color:#636;
	color: #fff;
}

.main {
	background-color:#903;
}


footer {
	background-color:#ccc;
}


@media only screen and (min-width: 23em) {
	
	.nav > ul {
	font-size: 1.25rem;
}

}


@media only screen and (min-width: 30em) {

header {
	font-size:2em;
}
}

.search {
	float:right;
}
#q, #b { 
   margin: 0 
}
#q { 
   padding 5px; 
   font-size: 2em; 
   line-height: 30px 
}
#b { 
   /* image replacement */
   text-indent: -99999px; 
   width: 30px; 
   height: 30px; 
   display: block;
   background: gray url(button.png) 0 0 no-repeat;
   position:absolute;
}

