@-moz-viewport { wiidth: device-width; scale: 1; }
@-ms-viewport { wiidth: device-width; scale: 1; }
@-o-viewport { wiidth: device-width; scale: 1; }
@-webkit-viewport { wiidth: device-width; scale: 1; }
@viewport { wiidth: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 sans-serif;
	min-width:200px;
	background-image:url(../images/seamlesstexture15_1200.jpg);
}


.background {
	margin-top:-3em;
 	background: rgba(54, 25, 25, .2);
}

.background1 {
 	background: rgba(54, 25, 25, .2);
}

.space {
	margin-bottom:2em;
}


.specie {
	margin-left:2em;
	margin-top:1em;
}

li {
	display:inline-block;
	padding:10px;
}

ul {
	margin:0;
	text-decoration:none;
}

header {
		font-size:1em;
}

h1, h2 {
	margin:0;
	color:#fff;
	padding:0;
}

h1 {
	font-size:24px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	margin-bottom:1em;
}

.center-objects {
	text-align: center;
}

.flex-img {
	display: block;
	width: 100%;
}
.flex-img-logo {
	float:right;
}

.top-img {
	margin-bottom:10px;
}


.nav > ul {
	font-size: 1rem;
}

nav {
	display: inline;
	width: 100%;
	padding: 0;
	margin: 0;
}


a .nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0.8rem 0 0 0;
	list-style-type: none;
	font-size: .825rem;
}


.nav li {
		padding:.3em;
		display: inline;
}
	
	
.nav a,
.nav a:link,
.nav a:visited {
	display:inline-block;
	padding: 0.5rem 10px;
	border: 0;
	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	font-color:#636;
	color: #fff;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration:none;
	color:#903;
}

a {
	color:#000;
}


.main {
	background-color:#903;
	margin-bottom: 3em;
}

.unit-right {
	float:right;
}


.description {
	background-color:#933;
	color:#FFF;
}

footer {
	background-color:#903;
	padding: 0.5em;
}

footer p {
	color:#fff;
}


@media only screen and (min-width: 23em) {
	
	.nav > ul {
	font-size: 1.25rem;
}

h1 {
	font-size:2em;
}

.homeparagraph {
	font-size:1.5em;
}
.hometitle {
	font-size:2em;
}


}


@media only screen and (min-width: 35em) {

header {
	font-size:2em;
}

h1 {
	font-size:3em;
}

}
.search {
	color:#fff;
	padding:.5em;
	float:right;
	background-color:#903;
}


