@-moz-viewport { wiidth: device-width; scale: 1; }
@-ms-viewport { wiidth: device-width; scale: 1; }
@-o-viewport { wiidth: device-width; scale: 1; }
@-webkit-viewport { wiidth: device-width; scale: 1; }
@viewport { wiidth: device-width; scale: 1; }

html {
	margin:0;
	padding: 0;
	font: normal 100%/1.5 sans-serif;
	min-width:240px;
	background-color:#903;
	background-image:url(../images/seamlesstexture15_1200.jpg);
}


body {
	max-width:700px;
	margin:0;
}


header {
	background-color:#903;
	font-size:1em;
	text-align:center;
	margin-bottom:.5em;
}





.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 3000;

	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}

.skiplinks li {
	margin: 0;
	padding: 0;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	left: 0;
	padding: 0.75em 1em;
	position: absolute;
	top: -10em;

	background-color: #000;

	color: #fff;
	text-decoration: none;
}


.skiplinks a:focus {
	top: 0;
}
a,
a:link,
a:visited {
	outline: none;
}

a:hover,
a:active {
	outline: none;
}

a:focus {
	outline: 3px solid #000;
}



@media only screen and (min-width: 200px) {
	body {
		max-width: none;
	}
}

.background {
 	background:#903;

}


.space {
	margin-bottom:2em;
}



nav li {
	display:inline-block;
	padding:10px;
}

ul {
	margin:0;
	text-decoration:none;
}


h1, h2 {
	margin:0;
	color:#fff;
	padding:0;
}

h1 {
	font-size:24px;
}

h4 {
	padding:0;
	margin:0;
}


h3 {
	font-family: 'Oswald', sans-serif;
	margin:0;
	margin-bottom:1em;
}


.center-objects {
	text-align: center;
}

.flex-img {
	display: block;
	width: 100%;
}
.flex-img-logo {
	float:right;
}

.top-img {
	margin-bottom:10px;
}


.nav > ul {
	font-size: 1rem;
}

nav {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color:#600;
}


a .nav > ul {
	margin: 0;
	overflow: hidden;
	padding: 0.8rem 0 0 0;
	list-style-type: none;
	font-size: .825rem;
}



	
	
.nav a,
.nav a:link,
.nav a:visited {
	padding: 0.5rem 10px;
	border: 0;
	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	font-color:#636;
	color: #fff;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration:none;
	color:#903;
}

a {
	color:#000;
}


.main {
	background-color:#903;
	margin-bottom: 3em;
}

.unit-right {
	float:right;
}


.description {
	background-color:#933;
	color:#FFF;
}

footer {
	background-color:#903;
	padding: 0.5em;
	width:100%;
}

footer p {
	color:#fff;
}

@media only screen and (min-width: 5em) {

h4 {
	margin-top:-1em;
	font-size:2em;
}
.search {
	color:#fff;
	padding:.5em;
	float:right;
	background-color:#903;
	right:0;
}
}


@media only screen and (max-width: 23em) {
	
	.nav > ul {
	font-size:.6em;
}


}


@media only screen and (min-width: 35em) {


.homeparagraph {
	font-size:1.5em;
}
.hometitle {
	font-size:2em;
}

h4 {
	font-size:5em;
}

h1 {
	font-size:4em;

}

@media only screen and (min-width: 42em) {

h4 {
	margin-top:.5em;
}

h1 {
	font-size:5em;
}

}










